<div tagged-infinite-scroll="loadNextPage()" tagged-infinite-scroll-disabled="loading || disabled" tagged-infinite-scroll-distance="500">
  <div ng-repeat="player in players | orderBy:'name'" class="media">
    <a class="pull-left" ng-href="#/players/{{player.id}}"><img class="media-object img-thumbnail" width="40" gravatar-src="'{{player.email}}'" gravatar-size="40"></a>
    <div class="media-body">
      <h4 class="media-heading"><a ng-href="#/players/{{player.id}}">{{player.fullName || player.name}} <small>{{player.id}}</small></a></h4>
      Name: {{player.name}}<span ng-show="player.email"> - Email: {{player.email}}</span><span ng-show="player.group"> - Group: {{player.group}}</span>
    </div>
  </div>
  <div ng-show="loading">Loading data...</div>
</div>
